{$APP_DOMAIN} {
    encode gzip zstd

    handle /api/* {
        reverse_proxy app:{$SERVER_PORT}
    }

    handle /ws/* {
        reverse_proxy app:{$SERVER_PORT}
    }

    handle {
        reverse_proxy frontend:80
    }
}
